#container {

}

section a {
	text-decoration: none;
	color: #000000;
}

section a:hover {
	text-decoration: underline;
}

#menu {
	padding: 15px 0;
	width: 100%;
}

menu ul {
	list-style: none; 
	padding: 0;
}

#menu ul li {
	display: inline;
	margin: 0 10px 0 0;
}

#menu ul li a {
	text-decoration: none;
}

#menu ul li a:hover {
	color: rgb(255, 217, 0); 
}

.left {
	float: left;
	padding-left: 4cm;
}

.right {
	padding-right: 2cm;
	padding-top: 0.4cm;
	float: right;
}

.btn {
	text-decoration: none !important;
	border-radius: 5px;
	padding: 6px 12px;
}

.btn-white {
	background-color: rgb(255, 217, 0); 
	color: rgb(0, 0, 0);
}

.btn-white:hover {
	background-color: #fffb00;

}

.no-sticky {
	position: none;
}

.sticky {
	background-color: rgba(255, 255, 255, 0.281);
	position: fixed;
}

.sticky ul li a {
	color: #1b0101 !important;
}

.sticky ul li a:hover {
	color: rgb(224, 204, 18) !important;
}

#menu ul li a, {
	color: #3d3d3d;
}

section {
	padding: 5cm ;
}

body{
	margin: 0px
}

#section0 {
	margin: auto; 
	padding-block-start: 5px;
	padding-block-end: 43px;
	width: 970px;
	height: 230px;
}

#section1 {
	margin: auto;
	width: 1152px;
	height: 332px;
	background-image: url('../images/mobil.png');
	background-repeat: no-repeat;
	background-position: top bottom;
	background-size: 100%;
	padding-inline-start: 7px;
	padding-block-end: 2px;
}

#section2{
	margin: auto;
	width: 970px;
	height: 250px;
	background-image: url('../images/dunia.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 400pt 220pt;
	padding-top: 1px;
}

#section3{
	margin: auto;
	width: 989px;
	height: 380px;
	padding-top: 1px;
	padding-left: 70pt;
	padding-inline-start: 4.5cm;
}

#section4{
	margin: auto;
	width: 1027px;
	height: 350px;
	padding-top: 1px;
	padding-left: 70pt;
	text-align: center;
	padding-inline-start: 3.5cm;
}

.bagan0 {
	background-color: rgb(255, 217, 0);
	font-size: 34px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 10%;
}

.bagan0 p{
	font-size: 20px;
	
}

.bagan1 {
	background-color: rgb(255, 217, 0); 
	padding-top: 30px;

}

.bagan2 {
	background-color: rgba(209, 204, 204, 0.781);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 22px;
	text-align: center;

}

.bagan2 p{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	text-align: center;
	padding-top: -20px;
}


.bagan3 {
	background-color: rgba(131, 131, 131, 0.815);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 22px;
	text-align: center;
	padding-top: 20px;
	
}

.bagan3 h4 {
	text-align: left;
	font-size: 18pt;
	padding-inline-start: 1cm;
	padding-top: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}

p.pfitur1 {
	text-align: justify;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-style:	unset;
	padding-inline-end: 6cm;

}

p.pfitur2 {
	text-align: justify;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-style:	unset;
	padding-inline-end: 6cm;
	padding-inline-start: 1.5cm;

}

img.fitur1{
	float: left;
	padding-left: -20pt;
	padding-top: 10pt;
	padding-inline-end: 0.8cm;
}

img.fitur2{
	float: right;
	padding-right: -20pt;
	padding-top: 10pt;
	padding-inline-end: 2cm;
}


.bagan4 {
	background-color: rgba(209, 204, 204, 0.781);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 22px;

}

p.f{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.clear {
	clear: both;
}
